# The backend cors setting
# Set it as a JSON-formatted list of origins like '["http://localhost", "http://localhost:3000"]'
BACKEND_CORS_ORIGINS='["<BACKEND_CORS_ORIGINS>"]'

# The OpenAI API key
OPENAI_API_KEY="<OPENAI_API_KEY>"
